{% extends 'base.html' %}

{% block header %}
<div class="alert alert-dark" role="alert">
  削除確認
  <div align="right"><a href="#" class="badge badge-primary">User</a></div>
</div>
{% endblock header %}

{% block content %}
<div class='container'>
  <div class="alert alert-info" role="alert">
    <p>タイトル:{{ item.title }}</p>
    <p>投稿者:{{ item.author }}</p>
    <p><img src='{{ item.pic.url }}' width=300></p>
    <p>コメント:{{ item.coment }}</p>
  </div>
</div>
<form action='' method='post'>{% csrf_token %}
  <input type='submit' value='削除する'>
</form>
<a href="{% url 'tweetapp:list' %}" class="btn btn-primary " role="button" aria-pressed="true">戻る</a>

{% endblock content %}